@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: rgb(226, 211, 144);
    background-image: url(/Img/Back.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position-x: center;
}
.menu-nav {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav ul li {
    margin: 20px;
    color: beige;
    position: relative;
    float: left;
}
.nav ul li a {
    color: beige;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    text-shadow: 2px 2px 2px gray;
}
.nav ul li a:hover {
    border-bottom: 2px solid beige;
}
.contentt {
    font-size: 70px;
    text-align: center;
    margin: 300px 0 0 0;
    text-shadow: 5px 5px 5px rgb(41, 95, 95);
    color: rgb(253, 253, 253);
}
.content {
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(41, 95, 95);
    margin: 100px 0 0 0;
    text-align: center;
}
.main {
    font-size: 50px;
    color: rgb(14, 53, 87);
    text-align: center;
    margin: 400px 0 100px 0;
}
.destacados-item1 >img {
    width: 100%;
    height: auto;
}
.destacados-item1 >.destacados-info {
    margin: 20px 0 50px 0;
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(41, 95, 95);
}
.destacados-info {
    margin: 20px 0 200px 0;
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(41, 95, 95);
}
.destacados-info a> h2{
    margin: 400px 0 0px 0;
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(41, 95, 95);
}
.destacados-item2 >img {
    width: 100%;
    margin: 0px 0 100px 0;
}
.destacados-item3 >img {
    width: 100%;
    height: auto;
    margin: 0px 0 0 0;
}
footer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 200px 0 0 0;
    padding: 350px 0 0 0;
    background-image: url(/Img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}
footer .enlaces>h3 {
    font-size: 20px;
    margin: 0px 0 20px 0;
    text-align: center;
    color: azure;
}
.enlaces >a {
    position: relative;
    text-align: center;
    float: right;
    justify-content: space-between;
    margin: 0 20px 30px 20px;
    color: aliceblue;
}
.enlaces a.btn1 {
    color: aqua;
}
.enlaces a.btn2 {
    color: rgb(21, 29, 148);
    text-shadow: 0.5px 0.5px 0.5px rgb(222, 235, 235);
}
.enlaces a.btn3 {
    color: rgb(183, 54, 209);
    text-shadow: 1px 1px 1px rgb(92, 9, 109);
}
    
 

